node_modules/
.expo/
.expo-shared/
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/.cxx/
*.log
.env
.env.*
!.env.example
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
dist/
deliverables/*.apk
